@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

.theme-default {
  --color-primary: 37 194 160;
  --color-secondary: 48 56 70;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
  height: 100%;
}
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
