@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-default {
  --color-primary: 37 194 160;
  --color-secondary: 48 56 70;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  height: 100%;
}
#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .button {
    @apply block px-4 py-2 font-semibold leading-8 text-white rounded-lg shadow-md bg-primary/90 hover:bg-primary/95 focus:outline-none focus:ring-4 focus:ring-primary/30 focus:ring-opacity-100;
  }
  .input {
    @apply bg-[#eff0f8] border-2 border-solid border-[#8b8a8b] leading-10 px-4 py-2 rounded-md focus:border-[#5a5dbb] focus:outline-none;
  }
}
